.app {
    padding: 10px;
}

.form-input {
    margin: 10px 0px;
}

button {
    background-color: blue;
    color: white;
}

.blog-post_display {
    border: 1px solid lightgray;
    margin: 5px 0px;
    border-radius: 4px;
    padding: 10px;
}

